@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">¡Bienvenido!</h1>
    <form method="GET">
        <div class="container" style="padding:30px;">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-12">
                        <input class="form-control" style="text-align:center;"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <input type="submit" value="Buscar"/>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
