@page
@model PrivacyModel
@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>Este portal fue diseñado para la interprestación de datos del sensor APOLO, marcador tumoral de celulas cancerigenas en la sangre. Como parte del sistema presentado en el Trabajo Terminal II.</p>
